.sensor-tile {
  color: #fff;
  width: calc(33% - 6em);
  padding: 1em 2em;
  margin: 1em;
  border-radius: 5px;

  .sensor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      font-size: 1em;
    }
    .sensor-icon {
      fill: #fff;
      height: 30px;
      margin-left: auto;
    }
  }

  p {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.off {
  background-color: black;
}

.idle {
  background-color: #3f37c9;
}

.applying {
  background-color: orange;
}

.ready {
  background-color: green;
}
